fastapi
uvicorn
websockets
pydantic
openai
python-dotenv
langchain
langchain_openai
langchain-community
langgraph
qianfan
tencentcloud-sdk-python
websocket-client
httpx_sse
python-multipart
cos-python-sdk-v5
PyJWT
sqlalchemy
redis
langfuse
langsmith
llama-index
pymupdf
llama-index-readers-json
llama-index-embeddings-huggingface
FlagEmbedding
peft
pymilvus
llama-index-vector-stores-milvus


